@import "global.css";
@import "main.css";
@import "styles.css";

#imed1316-gallery {
  margin: auto;
  width: 75%;
  padding: 10px;
}

.btn-success {
  background-color: var(--dominantColor) !important;
  border: 0px !important;
  border: none !important;
}

.btn-primary {
  background-color: var(--secondaryColor) !important;
  border: 0px !important;
  border: none !important;
}
.submit,
.sub-btn {
  border-color: var(--secondaryColor) !important;

  color: #ffffff !important;
}

.btn-outline-primary {
  border-color: var(--secondaryColor) !important;
  background-color: var(--secondaryColor) !important;
  color: #ffffff !important;
}

.btn-outline-primary {
  border-color: var(--secondaryColor) !important;
  background-color: var(--dominantColor) !important;
  color: #ffffff;
}

.submit:hover,
.sub-btn:hover {
  border-color: var(--secondaryColor) !important;
  background-color: #ffffff !important;
  color: var(--secondaryColor) !important;
}

.sub-btn {
  padding-top: 5px;
}
